/* <a href="" class="fx-topdown">LINK</a>  */

.fx-topdown {
    position:absolute;
    display:inline-block;
    text-decoration:none;
    color:white;
    background-color:red;
    z-index:-1;
    padding:5px 10px;
    overflow:hidden;

}
.fx-topdown:before {
    content:'';
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:-100%;
    left:0;
    z-index:-1;
    background-color:rebeccapurple;
    transition:0.3s top 0s;
}
.fx-topdown:hover:before {
    top:0;
}
