.ttab {
	display: table;
	table-layout: fixed;
	border-spacing: 0;
	width: 100%;
	.trow {
		display: table-row;
		height: 100%;
	}
	.tcol {
		display: table-cell;
		border-collapse: collapse;
		vertical-align: top;
	}
	.tinner {
		width: 100%;
		height: 100%;
		position: relative;
	}
}
