<? header("Content-Type: text/plain"); ?>
CACHE MANIFEST
# Validator: http://manifest-validator.com/

CACHE:
/favicon.ico
/res/lib/magnific-popup/css/magnific-popup.css
/res/lib/magnific-popup/js/magnific-popup.js
/res/lib/magnific-popup/img/ajaxLoader.gif
/res/lib/magnific-popup/img/close.png
/res/lib/magnific-popup/img/next.png
/res/lib/magnific-popup/img/prev.png
/res/lib/jquery/jquery-1.11.0.min.js
/res/lib/jquery-easing/jquery.easing.1.3.js
/res/lib/jquery-mobile/jquery.mobile.custom.min.js
/res/lib/bootstrap-3.0.0/dist/js/bootstrap.min.js
/res/font/TheSans_B2_5_.eot
/res/font/TheSans_B2_5_.woff
/res/font/TheSans_B2_7_.eot
/res/font/TheSans_B2_7_.woff
#/res/img/
/res/img/kjk-logo.png
/res/img/kjk-logo-section.png


# Resources that require the user to be online.
NETWORK:
*


# Offline cache files.
FALLBACK:
/ /offline.php