<!DOCTYPE HTML>
<html manifest="manifest.appcache">
<head>
	<we:charset defined="UTF-8">UTF-8</we:charset>
	<we:title></we:title>
	<we:description></we:description>
	<we:keywords></we:keywords>
</head>
<body>
	<article>
		<h1><we:input type="text" name="Headline" size="60"/></h1>
		<we:textarea name="Content" width="400" height="200" autobr="true" wysiwyg="true" removefirstparagraph="false" inlineedit="true"/>
	</article>
</body>
</html>