<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolateygui" />
  <package id="vscode" />
  <package id="laragon" />
  <package id="php" />
  <package id="mysql" />
  <package id="composer" />
  <package id="nodejs" />
  <package id="poedit" />
  <package id="googlechrome" />
  <package id="vlc" />
  <package id="skype" />
  <package id="teamviewer" />
  <package id="putty" />
  <package id="winscp" />
  <package id="winmerge" />
  <package id="virtualbox" />
  <package id="googledrive" />
  <package id="rufus" />
  <package id="firefox" />
  <package id="obs-studio" />
  <package id="git" />
  <package id="heidisql" />
  <package id="powershell-core" />
  <package id="docker-desktop" />
</packages>
