<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolateygui" />
  
  <!-- Windows extensions -->
  <package id="svg-explorer-extension" /><!-- SVG preview in Explorer -->
  
  <!-- Development -->
  <package id="powershell-core" />
  <package id="vscode" />
  <package id="laragon" />
  <package id="php" />
  <package id="composer" />
  <package id="mysql" />
  <package id="heidisql" />
  <package id="nodejs" />
  <package id="putty" />
  <package id="winscp" /><!-- FTP -->
  <package id="winmerge" /><!-- File diff -->
  <package id="git" />
  <package id="docker-desktop" />
  <package id="insomnia-rest-api-client" />
  
  <!-- Graphic -->
  <package id="gimp" />
  <package id="lunacy" />
  
  <!-- Browser -->
  <package id="googlechrome" />
  <package id="firefox" />
  
  <!-- Madia -->
  <package id="vlc" />
  
  <!-- Communication -->
  <package id="discord" />
  <package id="skype" />
  <package id="teamviewer" />
  <package id="obs-studio" />
  
  <package id="virtualbox" />
  <package id="googledrive" />
  <package id="rufus" />
  
  <package id="portfolio" /><!-- Portfolio Performance -->
  <package id="steam" />
</packages>
