/**
 * box-sizing
 *
 * History
 * 05.03.2014 - Aurel Hermand (Vegvisir) - Initial version
 */


.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
  -moz-box-sizing: @boxmodel;
  box-sizing: @boxmodel;
}