/**
 * tab-size
 *
 * History
 * 05.03.2014 - Aurel Hermand (Vegvisir) - Initial version
 */


.tab-size(@val: 4) {
	-webkit-tab-size: @val;
	-moz-tab-size: @val;
	-o-tab-size: @val;
	tab-size: @val;
}