/**
 * table
 *
 * History
 * 05.03.2014 - Aurel Hermand (Vegvisir) - Initial version
 */


.table {
	display: table;
	border-collapse: collapse;
	box-sizing: border-box;

	.tr {
		display: table-row;
		box-sizing: border-box;
		
		.th {
			display: table-cell;
			box-sizing: border-box;
			text-align: center;
		}

		.td {
			display: table-cell;
			box-sizing: border-box;
		}
	}
}