
<header>
	<f:render partial="header" />
</header>

<div id="navbar">
	<div class="container">
		<f:cObject typoscriptObjectPath="lib.navbar" />
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<f:render section="bild" />
		</div>
	</div>
	<div class="row">
		<div class="col-md-8">
			<main>
				<f:render section="main" />
			</main>
		</div>
		<div class="col-md-4">
			<f:render section="aside" />
		</div>
	</div>
</div>

<div id="breadcrumb">
	<div class="container">
		<f:cObject typoscriptObjectPath="lib.breadcrumb" />
	</div>
</div>

<footer>
	<f:render partial="footer" />
</footer>
